In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
obs_log = pd.read_parquet('ztfsniadr2/tables/observing_logs.parquet')

In [23]:
obs_log

,mjd,band,fieldid,fieldra,fielddec,rcid,maglimit,zp,gain,expid,infobits,skynoise
0,58288.171875,ztfi,375,3.787257,-0.171915,16,19.650887,25.644886,6.2,53417042,0,49.960846
1,58288.171875,ztfi,375,3.787257,-0.171915,17,19.612961,25.651960,6.2,53417042,0,52.075066
2,58288.171875,ztfi,375,3.787257,-0.171915,18,19.686562,25.683561,6.2,53417042,0,50.099094
3,58288.171875,ztfi,375,3.787257,-0.171915,19,19.632156,25.650158,6.2,53417042,0,51.077618
4,58288.171875,ztfi,375,3.787257,-0.171915,20,19.573307,25.693308,6.2,53417042,0,56.108715
...,...,...,...,...,...,...,...,...,...,...,...,...
32808490,59273.558594,ztfr,542,5.338955,0.205076,43,17.924723,26.281721,6.1,151955745,33554440,440.381805
32808491,59273.558594,ztfr,542,5.338955,0.205076,44,18.117277,26.246277,6.1,151955745,0,356.968475
32808492,59273.558594,ztfr,542,5.338955,0.205076,45,18.143761,26.199760,6.1,151955745,33554432,333.756622
32808493,59273.558594,ztfr,542,5.338955,0.205076,46,18.018276,26.206276,6.2,151955745,33554440,376.903259
32808494,59273.558594,ztfr,542,5.338955,0.205076,41,17.939053,26.295052,6.2,151955745,8,439.976624